/*table,th,td{
    border: 1px solid black;
    border-collapse: collapse ;
}
h3{
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url(https://marketplace.canva.com/EAGPIDVZ0-A/1/0/1131w/canva-peach-aesthetic-background-flyer-IqGDJ_simvM.jpg);
    }
h5{
    border: 1px solid black;
    border-width: 3px;
    border-radius: 10px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    outline-style: dotted;
    }
    p{
        text-align: right;
        text-transform: uppercase;
        text-shadow: 1px 1px;
        border: 2px solid firebrick;
    }*/
    
    
